/**************************************************************
************************** GENERAL *****************************
***************************************************************/

body, h1, h2, h3, h4, h5, h6, ul, li, section, aside {
  padding: 0;
  margin: 0;
}

body {
  color: rgb(200,200,159);
  background: green;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background: gray;
  transition: background 2s, color 2s;
}

a:hover {
  background: white;
  color: red;
}

/**************************************************************
************************** HEADER *****************************
***************************************************************/

header {
  background: url(../imgs/RDBackground.jpg) repeat-x;
  background-size: fit;
  height: 400px;
}

h2 {
  margin: 10px;
}

/**************************************************************
************************** NAVIGATION *************************
***************************************************************/

nav ul {
  list-style-type: none;
  margin-top: 10px;
}

nav ul li {
  display: inline-block;
}


/**************************************************************
************************** MAIN SECTION ***********************
***************************************************************/





/**************************************************************
************************** FOOTER *****************************
***************************************************************/




